@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Open Sans", sans-serif;
    background-image: url('../assets/bg-desktop.png');
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
    color: #fff;
}

.head{
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 600;
}

.logo{
    padding-top: 16px;
    width: 15%;
}

button{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    background-color: #ffffff;
    width: 136px;
    height: 42px;
    border-radius: 450cm;
    border-color:hsl(257, 40%, 49%); 
}

button:hover{
    background-color: hsl(300, 69%, 71%);
    color: #ffffff; 
    cursor: pointer;
}

.illustration-mockups {
    width: 100%;
    height: auto;
    display: block;
}


.the-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 30px;
}

.the-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 60px;
}

.container{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.footer{
    display: flex;
    justify-content: end;
}

span{
    padding: 25px;
}

span:hover{
    color:  hsl(300, 69%, 71%);
    cursor: pointer;
}

@media screen and (max-width: 480px){

    body{
        background-image: url('../assets/bg-mobile.png');
        background-repeat: no-repeat;
        background-size: cover;
        
    }

    .logo{
        width: 40% !important;
        padding-top: 18px;
    }

    .container{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    }

    .the-two {
        text-align: center;
        align-items: center;
    }

    .footer{
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }

}